[Unit]
Description=cloudsec-agent
Wants=network-online.target
After=network-online.target network.target syslog.target

[Service]
Type=simple
ExecStart=/opt/cloudsec/bin/agent -config /opt/cloudsec/agent.yaml
WorkingDirectory=/opt/cloudsec
Restart=always
RestartSec=45
KillMode=control-group
MemoryMax=500M
CPUQuota=20%
EnvironmentFile=-/opt/cloudsec/specified_env

[Install]
WantedBy=multi-user.target
